<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUD books Application</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">books Management</h1>
    <hr>

    <!-- Display All books -->
    <h2>All books</h2>
    <table class="table table-striped">
      <thead>
        
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Pages</th>
          <th>Published Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= book.title %></td>
            <td><%= book.author %></td>
            <td><%= book.pages %></td>
            <td><%= new Date(book.publishedDate).toLocaleDateString() %></td>
          </tr>
      </tbody>
    </table>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
